<!DOCTYPE html>
<html>
<head>
    <title>Default Prediction</title>
</head>
<body>
    <h1>Default Prediction</h1>
    <form method="POST" action="/">
        <label for="input1">Input 1:</label>
        <input type="text" name="input1" id="input1"><br>
        <label for="input2">Input 2:</label>
        <input type="text" name="input2" id="input2"><br>
        <label for="input2">Input 3:</label>
        <input type="text" name="input3" id="input3"><br>
        <label for="input2">Input 4:</label>
        <input type="text" name="input4" id="input4"><br>
        <label for="input2">Input 5:</label>
        <input type="text" name="input5" id="input5"><br>
        <!-- Repeat the above two lines for inputs 3 to 10 -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>
